@font-face {
  font-family: 'LinoTypeRegular';
  src: url(../src/assets/fonts/Linotype\ -\ OptimaLTStd.otf) format('opentype');
}

@font-face {
  font-family: 'PxGrotesk-Light';
  src: url(../src/assets/fonts/PxGrotesk-Light.otf) format('opentype');
}

@font-face {
  font-family: 'PxGrotesk-Regular';
  src: url(../src/assets/fonts/PxGrotesk-Regular.otf) format('opentype');
}

/* Resets */
p {
  margin: 0;
}

body {
  background-color: rgb(247, 243, 239)
}

h2 {
  font-family: 'LinoTypeRegular';
  font-size: 8vw;
}

.eta {
  margin-bottom: 30px;
}

.eta-big {
  font-family: 'PxGrotesk-Light';
  font-size: 18vw;
  margin: 0;
}

.eta-description {
  font-size: 3.5vw;
  font-family: 'PxGrotesk-Light';
  margin-top: 0;
}

#amPm {
  font-size: 8vw;
}

.trip-info {
  width: 100%;
  padding: 30px;
}

.label {
  font-size: 3vw;
  color: rgb(119,119,119);
  border-top: 1px solid rgb(221,218,214);
  padding-top: 10px;
  margin: 0 10px;
}

.trip-num {
  margin: 0 10px;

}

.Container {
  height: 100vh;
  box-sizing: border-box;
}

.Container-Row1,
.Container-Row2 {
  height: 45vh;
  box-sizing: border-box;
  display: flex;
}

.Container-Row2 {
  flex-direction: column;
  padding: 30px;
  position: relative;
}

#trip {
  background-color: lightblue;
  -webkit-mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
  mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
}

/* adjusts last container row 2 to compensate for footer height */
#trip {
  height: 55vh;
}

.App-header,
.App-footer {
  position: fixed;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.App-header {
  top: 30px;
  height: 2vh;
  padding: 30px;
}

.App-nav {
  position: fixed;
  right: 5vw;
  top: 4vh;
  display: flex;
  flex-direction: column;
  font-size: 0.75vh;
  z-index: 1;
  color: rgb(221,218,214);
}

#summary-nav {
  color: black;
}

.App-nav > * {
  margin: 3px;
}

.App-footer {
  bottom: 0vh;
  height: 10vh;
  display: flex;
  border-top: 1px solid rgb(221,218,214);
  background-color: rgb(247, 243, 239);
  font-family: 'PxGrotesk-Light';
  font-size: 3.5vw;
}

.trip-address {
  width: 85vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trip-address-bold {
  font-weight: bold;
}

.user-icon,
.other-icon {
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon > img,
.other-icon > img {
  padding: 20px;
}

/* view 1 */
.Trip-details-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Trip-details {
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'PxGrotesk-Light';
  font-size: 3.5vw;
  text-align: left;;
}

.Trip-info {
  box-sizing: border-box;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.Trip-actions {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#driver {
  background-position-x: 46%;
  background-position-y: 20%;
  background-size: 231%;
}

#vehicle {
  background-position: center center;
  background-repeat: no-repeat;
}

/* views 2-4 */
#subtitle {
  text-transform: uppercase;
  color:rgb(172,130,109);
  font-family: 'PxGrotesk-Regular';
  font-size: 1.5vh;
  letter-spacing: 0.25vw;
  font-weight: bold;
  /* border: 1px solid red; */
}

#title {
  font-size: 10vh;
  font-family: 'PxGrotesk-Light';
  margin: 25px 0;
  font-weight: lighter;
  color: rgb(63,56,37);
  /* border: 1px solid red; */
}

hr {
  border-top: 1px solid rgb(221,218,214);
  width: 50%;
  margin-left: 0;
}

#description {
  font-family: 'PxGrotesk-Light';
  font-size: 1.6vh;
  color: rgb(30,29,30);
  /* border: 1px solid red; */
}

#button {
  width: calc(100vw - 60px);
  height: 6vh;
  background: transparent;
  border: 1px solid rgb(217,216,203);
  text-transform: uppercase;
  color:rgb(217,216,203);
  font-family: 'PxGrotesk-Light';
  position: absolute;
  bottom: 4vh;
}


/* CSS Snap Points Test */
.Container {
  overflow-y: auto;
  scroll-snap-coordinate: 0 0;
  scroll-snap-type: y mandatory;
}

.container {
  scroll-snap-align: start;
}

.phone-frame {
  background-image: none;
}

/* Desktop View */
@media only screen and (min-width: 1000px) {
 .App {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   box-sizing: border-box;
 }

 .phone-frame {
   width: 25vw;
   height: 95vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
  .Container {
   width: 95%;
   height: 97%;
   z-index: 1;
   position: absolute;
   /* border: 10px solid black;
   border-radius: 50px;  */
  
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
  
  }

 .App-footer {
   width: 23vw;
 }

 .App-header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
 }

 .App-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid rgb(221,218,214);
  background-color: rgb(247, 243, 239);
  font-family: 'PxGrotesk-Light';
  font-size: 1vw;
}

 .App-nav {
  width: 1vw;
  margin: 0 auto;

  position: fixed;
  left: 25vw; /* same value as App width */
}

}