@import '../src/assets/css/base.css';
@import '../src/assets/css/detailsTable.css';
@import '../src/assets/css/headerFooter.css';
@import '../src/assets/css/nav.css';
@import '../src/assets/css/sectionRows.css';
@import '../src/assets/css/tripViews.css';


.dropoffPickup {
  padding-top: calc(10.7vw - 8vw);
  height: 80%;
  width: 75%;
  display: flex;
  flex-direction: column;
  font-family: 'PxGrotesk-Regular';
  font-size: 0.95em;
  letter-spacing: 0em;
  color: var(--title-color);
}

#pickup-location {
  padding-bottom: calc(8.9vw / 2);
  position: relative;
}

#pickup-location:before {
  content: '';
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;
  border-bottom:1px solid var(--border-color);
}

#dropoff-location {
  margin-top: calc(8.9vw / 2);
  margin-bottom: calc(8.9vw / 2);
  font-weight: bold;
}

#trip-notes {
  font-family: 'PxGrotesk-Light';
}

/* Desktop View */
@media only screen and (min-width: 1000px) {
 .App {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   box-sizing: border-box;
 }

 .phone-frame {
   width: 25vw;
   height: 95vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
  .Container {
   width: 95%;
   height: 97%;
   z-index: 1;
   position: absolute;
   border: 10px solid black;
   border-radius: 50px;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
  }

 .App-footer {
   width: 23vw;
 }

 .App-header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
 }

 .App-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  font-family: 'PxGrotesk-Light';
  font-size: 1vw;
}

 .App-nav {
  width: 1vw;
  margin: 0 auto;

  position: fixed;
  left: 25vw; /* same value as App width */
}

}