@font-face {
  font-family: 'LinoTypeRegular';
  src: url(../src/assets/fonts/Linotype\ -\ OptimaLTStd.otf) format('opentype');
}

@font-face {
  font-family: 'PxGrotesk-Light';
  src: url(../src/assets/fonts/PxGrotesk-Light.otf) format('opentype');
}

/* Resets */
p {
  margin: 0;
}

body {
  background-color: rgb(247, 243, 239)
}

h2 {
  font-family: 'LinoTypeRegular';
  font-size: 8vw;
}

.eta {
  margin-bottom: 30px;
}

.eta-big {
  font-family: 'PxGrotesk-Light';
  font-size: 18vw;
  margin: 0;
}

.eta-description {
  font-size: 3.5vw;
  font-family: 'PxGrotesk-Light';
  margin-top: 0;
}

#amPm {
  font-size: 8vw;
}

.trip-info {
  width: 100%;
  padding: 30px;
}

.label {
  font-size: 3vw;
  color: rgb(119,119,119);
  border-top: 1px solid rgb(221,218,214);
  padding-top: 10px;
  margin: 0 10px;
}

.trip-num {
  margin: 0 10px;

}

.Container {
  height: 100vh;
  box-sizing: border-box;
}

.Container-Row1,
.Container-Row2 {
  height: 45vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.Container-Row2 {
  flex-direction: column;
}

#trip {
  background-color: lightblue;
  -webkit-mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
  mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
}

/* adjusts last container row 2 to compensate for footer height */
.Container-Row2:last-of-type {
  height: 55vh;
}

.App-header,
.App-footer {
  position: fixed;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.App-nav {
  position: fixed;
  right: 5vw;
  top: 4vh;
  display: flex;
  flex-direction: column;
  font-size: 0.75vh;
  z-index: 1;
  color: rgb(221,218,214);
}

#summary-nav {
  color: black;
}

.App-nav > * {
  margin: 3px;
}

.App-footer {
  bottom: 3vh;
  height: 10vh;
  display: flex;
  border-top: 1px solid rgb(221,218,214);
  background-color: rgb(247, 243, 239);
  font-family: 'PxGrotesk-Light';
  font-size: 3.5vw;
}

.trip-address {
  width: 85vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trip-address-bold {
  font-weight: bold;
}

.user-icon,
.other-icon {
  width: 15vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon > img,
.other-icon > img {
  padding: 20px;
}

/* view 1 */
.Trip-details-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Trip-details {
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'PxGrotesk-Light';
  font-size: 3.5vw;
  text-align: left;;
}

.Trip-info {
  box-sizing: border-box;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.Trip-actions {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header-img {
  background-position-x: center;
  background-position-y: 13%;
}

#vehicle {
  background-position: center center;
  background-repeat: no-repeat;
}