@import '../src/assets/css/base.css';
@import '../src/assets/css/headerFooter.css';
@import '../src/assets/css/sectionDetails.css';
@import '../src/assets/css/tripSections.css';

.edit-icon {
  position: absolute;
}

/* Section Rows*/


#trip-containerRow2 {
  height: 55vh;
}

.dropoffPickup {
  height: calc(100% - 6vh);
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dropoffPickup > * {
  margin-top: 20px;
}

#pickup-location {
  position: relative;
  padding-bottom: 20px;
  margin: 20px 0 0 0;
}

#pickup-location:before {
  content: '';
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 1px;
  width   : 50%;  /* or 100px */
  border-bottom:1px solid var(--border-color);
}

/* Resets */
p {
  margin: 0;
}


h2 {
  font-family: 'LinoTypeRegular';
  font-size: 8vw;
}

.eta {
  margin: 16.6% 0 20px 0;
}

.eta-big {
  font-family: 'PxGrotesk-Light';
  font-size: 18vw;
  margin: 0;
}

.eta-description {
  font-size: 3.5vw;
  font-family: 'PxGrotesk-Light';
  margin-top: 0;
}

#amPm {
  font-size: 8vw;
}

.trip-info {
  width: 100%;
  padding: 30px;
}

.App-nav {
  position: fixed;
  right: 5vw;
  top: 4vh;
  display: flex;
  flex-direction: column;
  font-size: 0.75vh;
  z-index: 1;
  color: var(--border-color);
}

#summary-nav {
  color: var(--black);
}

.App-nav > * {
  margin: 3px;
}

.trip-address {
  width: 85vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.trip-address-bold {
  font-weight: bold;
}

.Trip-actions {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Detail Styling */
#vehicle-details > * {
  width: 50%;
}


/* Desktop View */
@media only screen and (min-width: 1000px) {
 .App {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   box-sizing: border-box;
 }

 .phone-frame {
   width: 25vw;
   height: 95vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
  .Container {
   width: 95%;
   height: 97%;
   z-index: 1;
   position: absolute;
   border: 10px solid black;
   border-radius: 50px;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
  }

 .App-footer {
   width: 23vw;
 }

 .App-header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
 }

 .App-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  font-family: 'PxGrotesk-Light';
  font-size: 1vw;
}

 .App-nav {
  width: 1vw;
  margin: 0 auto;

  position: fixed;
  left: 25vw; /* same value as App width */
}

}