@import '../src/assets/css/sectionDetails.css';
@import '../src/assets/css/tripSections.css';

@font-face {
  font-family: 'LinoTypeRegular';
  src: url(../src/assets/fonts/Linotype\ -\ OptimaLTStd.otf) format('opentype');
}

@font-face {
  font-family: 'PxGrotesk-Light';
  src: url(../src/assets/fonts/PxGrotesk-Light.otf) format('opentype');
}

@font-face {
  font-family: 'PxGrotesk-Regular';
  src: url(../src/assets/fonts/PxGrotesk-Regular.otf) format('opentype');
}

/* Section Rows*/
.row1,
.row2 {
  height: calc((45vh / 2) - 30px);
  /* border: 1px solid red; */
  box-sizing: border-box;
}

#trip-containerRow2 {
  height: 55vh;
}

/* Resets */
p {
  margin: 0;
}

body {
  background-color: rgb(247, 243, 239)
}

h2 {
  font-family: 'LinoTypeRegular';
  font-size: 8vw;
}

.eta {
  margin: 20px 0;
}

.eta-big {
  font-family: 'PxGrotesk-Light';
  font-size: 18vw;
  margin: 0;
}

.eta-description {
  font-size: 3.5vw;
  font-family: 'PxGrotesk-Light';
  margin-top: 0;
}

#amPm {
  font-size: 8vw;
}

.trip-info {
  width: 100%;
  padding: 30px;
}



.trip-num {
  margin: 0 10px;

}

.Container {
  height: 100vh;
  box-sizing: border-box;
}

.App-header,
.App-footer {
  position: fixed;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.App-header {
  top: 30px;
  height: 2vh;
  padding: 30px;
}

.App-nav {
  position: fixed;
  right: 5vw;
  top: 4vh;
  display: flex;
  flex-direction: column;
  font-size: 0.75vh;
  z-index: 1;
  color: rgb(221,218,214);
}

#summary-nav {
  color: black;
}

.App-nav > * {
  margin: 3px;
}

.App-footer {
  bottom: 0vh;
  height: 10vh;
  display: flex;
  border-top: 1px solid rgb(221,218,214);
  background-color: rgb(247, 243, 239);
  font-family: 'PxGrotesk-Light';
  font-size: 3.5vw;
}

.trip-address {
  width: 85vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.trip-address-bold {
  font-weight: bold;
}

.user-icon,
.other-icon {
  width: 20vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon > img,
.other-icon > img {
  padding-bottom: 20px;
  width: 8vw;
}



.Trip-actions {
  width: 100vw;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* views 2-4 */








/* CSS Snap Points Test */
.Container {
  overflow-y: auto;
  scroll-snap-coordinate: 0 0;
  scroll-snap-type: y mandatory;
}

.container {
  scroll-snap-align: start;
}

.phone-frame {
  background-image: none;
}

/* Detail Styling */
#vehicle-details > * {
  width: 50%;
}


/* Desktop View */
@media only screen and (min-width: 1000px) {
 .App {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   box-sizing: border-box;
 }

 .phone-frame {
   width: 25vw;
   height: 95vh;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
  .Container {
   width: 95%;
   height: 97%;
   z-index: 1;
   position: absolute;
   border: 10px solid black;
   border-radius: 50px;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
  }

 .App-footer {
   width: 23vw;
 }

 .App-header {
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
 }

 .App-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid rgb(221,218,214);
  background-color: rgb(247, 243, 239);
  font-family: 'PxGrotesk-Light';
  font-size: 1vw;
}

 .App-nav {
  width: 1vw;
  margin: 0 auto;

  position: fixed;
  left: 25vw; /* same value as App width */
}

}