@import './base.css';
@import './detailsTable.css';
@import './headerFooter.css';
@import './nav.css';
@import './tripAddresses.css';
@import './tripViews.css';
@import './viewDetails.css';

/* Tablet View */
@media only screen and (min-width: 500px) and (max-width: 999px) {
  body {
    font-size: 20px;
  }

  .dropoffPickup {
    width: 90%;
  }

  .user-icon > img,
  .vibes-icon > img {
    width: 5vw;
  }
}
/* Desktop View */
@media only screen and (min-width: 1000px) {
    .view-row2,
    #your-driver-view-row2,
    #your-vehicle-view-row2,
    #your-trip-summary-view-row2 {
      padding: 2vw 8vw;
    }

    .dropoffPickup {
      padding-top: 1vw;
    }

    #pickup-location {
      padding-bottom: 2vw;
    }

    #dropoff-location {
      margin-top: 2vw;
      margin-bottom: 2vw;
    }

    .edit-icon {
      width: 0.75vw;
    }

  /* "Your Driver" TripViews Styles */
    #your-driver {
      background-position-x: 53%;
      background-position-y: 15%;
      background-size: 60%;
    }

    .driver-bio {
      font-size: 1em;
    }

    /* "Your Vehicle" TripViews Styles */
    #your-vehicle {
      background-repeat: no-repeat;
      background-position-x: 51%;
      background-position-y: 72.5%;
      background-size: 20%;
    }

    .user-icon {
      margin-left: 30vw;
    }

    .vibes-icon {
      margin-right: 30vw;
    }

    .user-icon > img,
    .vibes-icon > img {
      width: 1.5vw;
    }
}