/*
    Styles for DetailsTable component in App.js. These details are visible to the end user in 1-3 column div
    groups and provide detailed information about the trip such as fare, vehicle, etc.
*/

/* Styles for all .details-table elements */
.details-table {
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'PxGrotesk-Regular';
  text-align: left;
  font-weight: bold;
  color: var(--title-color);
  border-top: 0.25px solid var(--border-color);
}

.details-label {
  font-size: 0.8em;
  padding: 8px 0 3px 0;
  letter-spacing: 0em;
  font-weight: normal;
  font-family: 'PxGrotesk-Light';
  color: var(--title-color);
}

.details-content {
  font-size: 0.9em;
}

/* Styles for .details-table in #your-trip-view */
#fare-table,
#passengers-table {
  margin-right: 20px;
}

/* Styles for .details-table in #vehcile-view */
#color-type,
#make-model-type {
  font-size: 0.8em;
  font-family: 'PxGrotesk-light';
}

/* Creates two column layout */
#your-vehicle-details > * {
  width: 50%;
}

#make-model-table {
  margin-right: 20px;
}

/* Styles for .details-table in #trip-container */

/* Creates one column layout */
#vehicle-vibe-table {
  width: 100%;
}