.App-header,
.App-footer {
  position: fixed;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.App-header {
  top: 30px;
  height: 2vh;
  padding: 30px;
}

.App-footer {
    bottom: 0vh;
    height: 10vh;
    display: flex;
    border-top: 1px solid rgb(221,218,214);
    background-color: rgb(247, 243, 239);
    font-family: 'PxGrotesk-Light';
    font-size: 3.5vw;
}

.user-icon,
.other-icon {
  width: 20vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon > img,
.other-icon > img {
  padding-bottom: 20px;
  width: 8vw;
}