/* Header & Footer Styles */
.App-header,
.App-footer {
  position: fixed;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Header Only Styles */
.App-header {
  margin-top: 7.5vh;
}

/* Footer Only Styles */
.App-footer {
  bottom: 0vh;
  height: 10vh;
  display: flex;
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
  font-family: 'PxGrotesk-Light';
  font-size: 3.5vw;
}

.user-icon,
.other-icon {
  width: 20vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon > img,
.other-icon > img {
  padding-bottom: 20px;
  width: 8vw;
}