/* Header & Footer Styles */
.app-header,
.app-footer {
  position: fixed;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/* Header Only Styles */
.app-header {
  height: 9.2vh;
  display: flex;
  align-items: flex-end;
}

/* Footer Only Styles */
.app-footer {
  bottom: 0vh;
  height: 8vh;
  display: flex;
  border-top: 1px solid var(--border-color);
  background-color: var(--background-color);
  font-family: 'PxGrotesk-Light';
}

/* Footer Icons */
.user-icon,
.vibes-icon {
  width: 20vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-icon > img,
.vibes-icon > img {
  padding-bottom: 20px;
  padding-top: 5px;
  width: 8vw;
}

/* Footer Address Styles */
.trip-address {
  width: 85vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 0 10px 0;
  margin-top: -5px;
  font-size: 0.8em;
}

#address-row1 {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1.1em;
}

#footer-eta {
  font-size: 1.1em;
  display: inline;
  font-family: 'PxGrotesk-Regular';
}

#footer-eta > .ampm {
  font-size: 1em;
  letter-spacing: normal;
  margin-left: 0;
  font-weight: normal;
}