.App-nav {
    position: fixed;
    right: 7.8vw;
    top: 8vh;
    display: flex;
    flex-direction: column;
    font-size: 0.74vh;
    z-index: 1;
    color: var(--border-color);
}

.App-nav > * {
    margin: 2.5px;
}

/* Sets view 1's nav indicator to active by default */
#summary-view-nav {
    color: var(--title-color);
}