/*
    Styles for SectionRows in App.js. In each Views 2-4 of the TripSections component, the second row
    (.ContainerRow2) is divided into two rows (.row1 & row2). This file includes styles for both of these
    rows as well as the immediate children of these rows.
*/

/* .row1 styles start */
.row1 {
    height: 47%;
    display: flex;
    flex-direction: column;
}

/* elements within .row1 */
.subtitle {
    text-transform: uppercase;
    color:var(--subtitle-color);
    font-family: 'PxGrotesk-Regular';
    font-size: 0.75em;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: relative;
    top: 0;
    flex: 0;
}

.title {
    font-size: 5em;
    letter-spacing: -0.06em;
    font-family: 'PxGrotesk-Light';
    margin: 0;
    margin-left: -8px;
    font-weight: lighter;
    color: var(--title-color);
    flex: 1;
    display: flex;
    align-items: center;
}
/* .row1 styles end */

/* .row2 styles start */
.row2 {
    height: 53%;
}

/* elements within .row2 */
.description {
    font-family: 'PxGrotesk-Light';
    font-size: 0.8em;
    color: var(--dark-gray);
    position: relative;
    padding-top: 12px;
    letter-spacing: 0em;
    width: 98%;
}

.description:before {
    content: '';
    position: absolute;
    left    : 0;
    top  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-top:1px solid var(--border-color);
}

.Trip-details-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    width: 84vw;
    height: 5vh;
    background: transparent;
    border: 1px solid var(--border-color);
    text-transform: uppercase;
    color:var(--border-color);
    font-family: 'PxGrotesk-Regular';
    letter-spacing: 0.1em;
    position: absolute;
    bottom: 4vh;
    font-weight: bold;
}

#driver-row2 > .button {
    bottom: 2vh;
}

button:hover {
    color: var(--background-color);
    background-color: var(--border-color);
}
/* .row2 styles end */