.Trip-details-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Trip-details {
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    font-family: 'PxGrotesk-Light';
    font-size: 3.5vw;
    text-align: left;
    font-weight: bold;
}

#vehicle-vibe {
    width: 100%;
}

.label {
    font-size: 3vw;
    color: rgb(119,119,119);
    border-top: 1px solid rgb(221,218,214);
    padding-top: 10px;
}

#passengers{
    padding: 0 10px;
}

/* Other details not in SectionDetails Component */

.carETAtext {
    font-size: 1.6vh;
}

#trip-btn {
    bottom: 14vh;
    border: none;
    color: rgb(247, 243, 239);
    background-color: rgb(172,130,109);
}

/* WHat does this refer to? */
.Trip-info {
    box-sizing: border-box;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
