/*
    Styles for SectionDetails in App.js. These details are visible to the end user in 1-3 column div groups
    and provide detailed information about the trip such as fare, vehicle, etc.
*/

/* Styles for all .Trip-detials */
.Trip-details {
  width: 33%;
  text-align: center;
  box-sizing: border-box;
  font-family: 'PxGrotesk-Regular';
  text-align: left;
  font-weight: bold;
  color: var(--title-color);
  border-top: 0.25px solid var(--border-color);
}

.label {
  font-size: 0.8em;
  color: var(--dark-gray);
  padding-top: 8px;
  padding-bottom: 3px;
  letter-spacing: 0em;
  font-weight: normal;
}

.trip-num {
  font-size: 0.9em;
}

/* Styles for .Trip-details in #summary-container */
#fare {
  margin-right: 20px;
}

#passengers{
  margin-right: 20px;
}

/* Styles for .Trip-details in #vehcile-container */

/* Creates two column layout */
#vehicle-details > * {
  width: 50%;
}

/* Styles for .Trip-details in #trip-container */

/* Creates one column layout */
#trip-details > * {
  width: 100%;
}






/* */





/* Other details not in SectionDetails Component */

#trip-btn {
    bottom: 14vh;
    border: none;
    color: var(--background-color);
    background-color: var(--subtitle-color);
}

/* WHat does this refer to? */
.Trip-info {
    box-sizing: border-box;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

  
  
