/* Styles for TripSections in App.js. Each TripSectoin is divide into two rows:
   (.Container-Row1 & .ContainerRow2). This file includes styles
   for both of these rows as well as the immediate children of these rows */

/* TripSections styles - all */
.Container-Row1,
.Container-Row2 {
  height: 45vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8.9vw;
}

.Container-Row2 {
    flex-direction: column;
    position: relative;
}

/* "Your Trip" TripSections Styles */
#summary {
  justify-content: flex-end;
  padding: 30px;
}

/* "Your Driver" TripSections Styles */
#driver {
    background-position-x: 46%;
    background-position-y: 15%;
    background-size: 225%;
    }

/* "Your Vehicle" TripSections Styles */
#vehicle {
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 65%;
  background-size: 75%;
}

/* "Your Trip" - Final Section TripSection Styles */
#trip {
  background-color: lightblue;
  -webkit-mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
  mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
}

