/* Styles for TripViews in App.js. Each TripView is divide into two rows:
   (.view-row1 & .view-row2). This file includes styles
   for both of these rows as well as the immediate children of these rows */

/* TripViews styles - all */
.view-row1,
.view-row2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8vw;
}

.view-row1 {
  height: 46vh;
}

.view-row2 {
  height: 45vh;
  flex-direction: column;
  position: relative;
}

#your-driver-view-row2,
#your-vehicle-view-row2,
#your-trip-summary-view-row2 {
  padding: 8.5vw 8.25vw;
}

#your-trip-summary-view-row2 {
  height: 54vh;
}

/* "Your Trip" TripViews Styles */
#your-trip {
  display: flex;
  padding-bottom: 2vh;
  height: 50vh;
}

#your-trip > *,
.view-row1 {
  box-sizing: border-box;
}

#your-trip-view-row2 {
  height: 42vh;
}

#your-trip-summary-containerRow2 {
  height: 55vh;
}

/* flex properties for #your-trip children */
.header-subtitle {
  flex: 1.9;
  display: flex;
  align-items: flex-end;
  font-family: 'LinoTypeRegular';
  font-size: 2.35em;
  letter-spacing: -0.03em;
  padding-bottom: 5px;
}

.eta {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.etaTime {
  font-size: 4.8em;
  letter-spacing: -0.05em;
  font-family: 'PxGrotesk-Light';
  margin: 0 0 0 -5px;
  font-weight: lighter;
  color: var(--title-color);
}

.carETAtext {
  margin-top: -8px;
  font-size: 0.9em;
  letter-spacing: -0.03em;
  color: var(--title-color);
  font-family: 'PxGrotesk-Regular';
}

.ampm {
  text-transform:uppercase;
  font-size: 0.41em;
  letter-spacing: -0.05em;
  margin-left: 12px;
  font-weight: bold;
}

.Trip-details-container {
  flex: 0.9;
  flex-direction: row;
  margin: 0 -3px;
  /* margin-top: 10px; */
  align-items: flex-end;
}

/* "Your Driver" TripViews Styles */
#your-driver {
    background-position-x: 46%;
    background-position-y: 15%;
    background-size: 225%;
}

/* "Your Vehicle" TripViews Styles */
#your-vehicle {
  background-repeat: no-repeat;
  background-position-x: 51%;
  background-position-y: 72.5%;
  background-size: 72%;
}

/* "Your Trip" - Final Section TripSection Styles */
#your-trip-summary {
  background-color: lightblue;
  -webkit-mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
  mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
}

/* Position attribute set on #trip-view so that the .map-icon exists in position relative to it */
#your-trip-summary-view {
  position: relative;
}

.map-icon {
  width: 45px;
  position: absolute;
  top: 42%;
  right: 25px;
  z-index: 1;
}
