/* Styles for TripSections in App.js. Each TripSectoin is divide into two rows:
   (.Container-Row1 & .ContainerRow2). This file includes styles
   for both of these rows as well as the immediate children of these rows */

/* TripSections styles - all */
.Container-Row1,
.Container-Row2 {
  /* height: 45vh; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 8vw;
}

.Container-Row1 {
  height: 46vh;
}

.Container-Row2 {
  height: 44vh;
  flex-direction: column;
  position: relative;
}

#driver-containerRow2,
#vehicle-containerRow2,
#trip-containerRow2 {
  padding: 8.5vw 8.25vw;
}

/* "Your Trip" TripSections Styles */
#summary {
  display: flex;
  padding-bottom: 2vh;
  height: 50vh;
}

#summary > *,
.Container-Row1 {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

#summary-containerRow2 {
  height: 42vh;
}

#trip-containerRow2 {
  height: 55vh;
}

/* flex properties for #summary children */
.header-subtitle {
  flex: 1.9;
  display: flex;
  align-items: flex-end;
  font-family: 'LinoTypeRegular';
  font-size: 2.35em;
  letter-spacing: -0.03em;
  padding-bottom: 5px;
}

.eta {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.etaTime {
  font-size: 4.8em;
  letter-spacing: -0.05em;
  font-family: 'PxGrotesk-Light';
  margin: 0 0 0 -5px;
  font-weight: lighter;
  color: var(--title-color);
}

.carETAtext {
  margin-top: -8px;
  font-size: 0.9em;
  letter-spacing: -0.03em;
  color: var(--title-color);
  font-family: 'PxGrotesk-Regular';
}

.ampm {
  text-transform:uppercase;
  font-size: 0.41em;
  letter-spacing: -0.05em;
  margin-left: 12px;
  font-weight: bold;
}

.Trip-details-container {
  flex: 0.9;
  flex-direction: row;
  margin: 0 -3px;
  /* margin-top: 10px; */
  align-items: flex-end;
}

.edit-icon {
  margin-left: 20px;
  width: 3vw;
}

/* "Your Driver" TripSections Styles */
#driver {
    background-position-x: 46%;
    background-position-y: 15%;
    background-size: 225%;
}

/* "Your Vehicle" TripSections Styles */
#vehicle {
  background-repeat: no-repeat;
  background-position-x: 51%;
  background-position-y: 72.5%;
  background-size: 72%;
}

/* "Your Trip" - Final Section TripSection Styles */
#trip {
  background-color: lightblue;
  -webkit-mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
  mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
}

