.Container-Row1,
.Container-Row2 {
  height: 45vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Container-Row2 {
    flex-direction: column;
    padding: 30px;
    position: relative;
  }

#driver {
    background-position-x: 46%;
    background-position-y: 20%;
    background-size: 231%;
    }

#vehicle {
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 65%;
    background-size: 75%;
    }

#trip {
    background-color: lightblue;
    -webkit-mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
    mask-image: radial-gradient(rgba(0,0,0,1) 5%, rgba(0,0,0,0));
}

.title {
    font-size: 10vh;
    font-family: 'PxGrotesk-Light';
    margin: 25px 0;
    font-weight: lighter;
    color: rgb(63,56,37);
  }

.carETA {
      margin-bottom: 0;
      line-height: 6vh;
}

.ampm {
    text-transform:uppercase;
    font-size: 4.5vh;
    font-weight: bold;
    margin: 10px;
}

.subtitle {
    text-transform: uppercase;
    color:rgb(172,130,109);
    font-family: 'PxGrotesk-Regular';
    font-size: 1.5vh;
    letter-spacing: 0.25vw;
    font-weight: bold;
}

  .description {
    font-family: 'PxGrotesk-Light';
    font-size: 1.6vh;
    color: rgb(30,29,30);
    position: relative;
    padding-top: 10px;
  }

  .description:before {
    content: '';
    position: absolute;
    left    : 0;
    top  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-top:1px solid rgb(221,218,214);
  }

  .button {
    width: calc(100vw - 60px);
    height: 6vh;
    background: transparent;
    border: 1px solid rgb(217,216,203);
    text-transform: uppercase;
    color:rgb(217,216,203);
    font-family: 'PxGrotesk-Light';
    position: absolute;
    bottom: 4vh;
  }

  button:hover {
    color:rgb(247, 243, 239);
    background-color:rgb(217,216,203);
  }
  
