/*
    Styles for ViewDetails components in App.js. In each TripViews 2-4 (#driver, #vehicle, #trip) of the
    TripSections component, the second row (.view-row2) is divided into two rows (.row2A & row2). This file
    includes styles for both of these rows as well as the immediate children of these rows.
*/

/* .row2A styles start */
.row2A {
    height: 47%;
    display: flex;
    flex-direction: column;
}

/* elements within .row2A */
.subtitle {
    text-transform: uppercase;
    color:var(--subtitle-color);
    font-family: 'PxGrotesk-Regular';
    font-size: 0.75em;
    letter-spacing: 0.1em;
    font-weight: bold;
    position: relative;
    top: 0;
    flex: 0;
}

/* general title formatting */
.title {
    font-size: 5em;
    letter-spacing: -0.06em;
    font-family: 'PxGrotesk-Light';
    margin: 0 0 0 -8px;
    font-weight: lighter;
    color: var(--title-color);
    flex: 1;
    display: flex;
    align-items: center;
}

/* formatting for title in the #vehicle section only */
#your-vehicle-title {
    margin-left: 0;
    letter-spacing: -0.075em;
}

/* formatting for title in the Your Trip Summary section only */
#trip-eta {
    justify-content: center;
    margin-left: -2px;
}

#your-trip-summary-eta {
    justify-content: center;
}
/* .row2A styles end */

/* .row2B styles start */
.row2B {
    height: 53%;
}

/* elements within .row2 */

/* #driver view */
.driver-bio {
    font-family: 'PxGrotesk-Light';
    font-size: 0.8em;
    color: var(--dark-gray);
    position: relative;
    padding-top: 12px;
    letter-spacing: 0em;
    width: 98%;
}

.driver-bio:before {
    content: '';
    position: absolute;
    left    : 0;
    top  : 0;
    height  : 1px;
    width   : 50%;  /* or 100px */
    border-top:1px solid var(--border-color);
}

.view-details-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    width: 84vw;
    height: 5vh;
    background: transparent;
    border: 1px solid var(--border-color);
    text-transform: uppercase;
    color:var(--border-color);
    font-family: 'PxGrotesk-Regular';
    letter-spacing: 0.1em;
    position: absolute;
    bottom: 4vh;
    font-weight: bold;
}

#your-driver-view-row2 > .button,
#your-vehicle-view-row2 > .button {
    bottom: 2.5vh;
}

button:hover {
    color: var(--background-color);
    background-color: var(--border-color);
}

#your-trip-summary-btn {
    bottom: 12vh;
    background-color: var(--subtitle-color);
    border: none;
    color: var(--background-color);
}

#your-trip-summary-btn:hover {
    background-color: var(--background-color);
    border: 1px solid var(--subtitle-color);
    color: var(--subtitle-color);
    cursor: pointer;
}
/* .row2B styles end */